{% extends 'base.html.twig' %}
{% block body %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Test Task For Senior Developer</h1>
        <h2>Web application consists of 2 sections</h2>
        <ul>
            <li>manager console with CRUD editors for categories/folders and files (aka backend)</li>
            <li>resulting view of categories and files (aka frontend)</li>
        </ul>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="#">Storage &raquo;</a>
        </p>
    </div>
</div>
{% endblock %}
