parameters:
    database_host: ##DB_HOST##
    database_port: null
    database_name: ##DB_DATABASE##
    database_user: ##DB_USERNAME##
    database_password: ##DB_PASSWORD##
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 'JASGIf7fdyczxi7cdhsae%@$&GFFVCc'
