{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="well" style="padding: 8px 0;">
            <div style="overflow-y: scroll; overflow-x: scroll; height: 500px;">
                {% for category in categories %}
                <ul class="nav nav-list">
                    {% include "StorageBundle:Category:_subcategories.html.twig" with {'categories':category.__children, 'path' : category.slug} only %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well" style="padding: 8px 0;">
            <div style="overflow-y: scroll; height: 500px;">
                <h2 id="file-title" class="text-center"></h2>
                <div id="file-content">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}